.App {
  text-align: center;
}

.content {
  border: 1px solid #000000;
  border-radius: 10px;
  width: 35%;
  margin: auto;
  margin-top: 50px;
  min-height: 50vh;
  padding: 30px 40px 0 40px;
}

.form-buah {
  text-align: left;
  width: 100%;
}

.form-buah th,
.form-buah td {
  padding: 10px;
}

.form-buah th {
  width: 30%;
}

.btn-buah {
  border-radius: 30px;
  background-color: #ffffff;
  border: 1px solid #000000;
  width: 55px;
  height: 30px;
  cursor: pointer;
}

.btn-buah:hover {
  background-color: #e9e9e9;
}
