@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

body {
  background-image: url("../img/pattern.jpg");
}

li,
a {
  text-decoration: none;
  color: #000000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #ffffff;
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
  top: 0;
}

#logo {
  cursor: pointer;
}

nav ul li {
  display: inline-block;
  margin: 10px;
}

section {
  margin: auto;
  margin-top: 70px;
  margin-bottom: 15px;
  background-color: #ffffff;
  width: 70%;
}

section h1 {
  text-align: center;
  padding-top: 20px;
}

#article-list {
  padding: 20px 30px;
}

#article-list div {
  padding: 50px 10px 10px 10px;
  border-bottom: 1px solid #000000;
}

footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}
